@model CategoryVM

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Create Category</h1>
    <form method="post" class="row g-3">
        <div class="col-md-6">
            <label asp-for="Name" class="form-label">Category Name</label>
            <input asp-for="Name" type="text" class="form-control">
            <div style="color: red; margin-top: 10px; margin-left: 10px;">
                <span asp-validation-for="Name"></span>
            </div>
        </div>
        <div class="col-12 mt-3">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button asp-controller="Category" asp-action="Table" type="submit" class="btn btn-secondary">Cancel</button>
        </div>
    </form>

</div>
<!-- /.container-fluid -->