@model ProductVM

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Create Product</h1>
    <form method="post" class="row g-3">
        <div class="col-md-6">
            <label asp-for="Title" class="form-label">Product Title</label>
            <input asp-for="Title" type="text" class="form-control">
            <div style="color: red; margin-top: 10px; margin-left: 10px;">
                <span asp-validation-for="Title"></span>
            </div>
        </div>
        <div class="col-md-6">
            <label asp-for="Price" class="form-label">Product Price</label>
            <input asp-for="Price" type="number" class="form-control">
        </div>
        <div class="col-md-6">
            <label asp-for="SKU" class="form-label">Product SKU(Code)</label>
            <input asp-for="SKU" type="text" class="form-control">
            <div style="color: red; margin-top: 10px; margin-left: 10px;">
                <span asp-validation-for="SKU"></span>
            </div>
        </div>
        <div class="col-md-6 mt-4">
            <label asp-for="CategoryId" class="form-label">Category</label>
            <select asp-for="CategoryId" asp-items="new SelectList(Model.Categories, nameof(Category.Id), nameof(Category.Name))" class="form-select mx-3">
                <option value="null">Choose Category</option>
            </select>
            <div style="color: red; margin-top: 10px; margin-left: 10px;">
                <span asp-validation-for="CategoryId"></span>
            </div>
        </div>
        <div class="col-md-6 mt-4">
            <label asp-for="TagIds" class="form-label">Category</label>
            <br />
            <select asp-for="TagIds" asp-items="new SelectList(Model.Tags, nameof(Tag.Id), nameof(Tag.Name))" class="form-select mx-3">
            </select>
            <div style="color: red; margin-top: 10px; margin-left: 10px;">
                <span asp-validation-for="TagIds"></span>
            </div>
        </div>
        <div class="col-12" style="margin-left: -10px;">
            <div class="col-md-6">
                <label asp-for="Description" class="form-label">Description</label>
                <textarea class="form-control" asp-for="Description" rows="4"></textarea>
                <div style="color: red; margin-top: 10px; margin-left: 10px;">
                    <span asp-validation-for="Description"></span>
                </div>
            </div>
        </div>
        <div class="col-12 mt-3 mx-3">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button asp-controller="Product" asp-action="Table" type="submit" class="btn btn-secondary">Cancel</button>
        </div>
    </form>

</div>
<!-- /.container-fluid -->