
@model SettingsVM

<div class="container">
    <h1 class="h3 mb-4 text-gray-800">Information Form</h1>
    <form asp-action="YourAction" asp-controller="YourController" method="post">
        <div class="form-group">
            <label asp-for="PhoneNumber" class="control-label">Phone Number:</label>
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Email" class="control-label">Email:</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Address" class="control-label">Address:</label>
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="LogoImgUrl" class="control-label">Logo Image URL:</label>
            <input asp-for="LogoImgUrl" class="form-control" />
            <span asp-validation-for="LogoImgUrl" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="FbUrl" class="control-label">Facebook URL:</label>
            <input asp-for="FbUrl" class="form-control" />
            <span asp-validation-for="FbUrl" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="XUrl" class="control-label">X URL:</label>
            <input asp-for="XUrl" class="form-control" />
            <span asp-validation-for="XUrl" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="PinUrl" class="control-label">Pinterest URL:</label>
            <input asp-for="PinUrl" class="form-control" />
            <span asp-validation-for="PinUrl" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="DriUrl" class="control-label">Dribble URL:</label>
            <input asp-for="DriUrl" class="form-control" />
            <span asp-validation-for="DriUrl" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>